// from _forms.scss, have it here or in vars, delete there...
$slip-height-small: 57px;
$slip-height-medium: 73px;

body {
  position: relative;
  width: 100%;
  margin: 0;
}


main {
  position: relative;
  height: 100%;
  padding-top: $slip-height-small;

  @include media($bq-medium) {
    padding-top: $slip-height-medium;
  }

  @include media($bq-large) {
    height: 100vh;
    padding-top: 0;
    overflow: hidden;
  }

  .index &,
  .adDescription &,
  .auctionDescription & {
    margin-top: 0;
  }
}



a {
  color: $base-color;
}


hr {
  border-bottom-color: $whiff-of-gray;
}
