.container {
  @include outer-container();
}

.container-pad {
  transition: padding $base-duration $base-timing;

  @include pad($atom $small);

  @include media($bq-medium) {
    @include pad($small $medium);
  }

  @include media($bq-large) {
    @include pad($medium $large);
  }

  @include media($bq-huge) {
    @include pad($large $huge);
  }
}


.container-scroll {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
}



.row {
  @include row();
}



.span-half {
  @include span-columns($grid-columns);

  @include media($bq-large) {
    @include span-columns(floor($grid-columns / 2));
  }
}



.tile {
  display: block;
  float: left;
  margin: 0;
}


// @Jerome
// TODO: Remove the tile prefix, its useless.
.tile-full {
  width: 100%;
}

.tile-three-quarter {
  width: 75%;
}

.tile-half {
  width: 50%;
}

.tile-third {
  width: 33.33333%;
}

.tile-quarter {
  width: 25%;
}
