// @Jerome
// from _forms.scss
// $slip-height-small: 57px;
// $slip-height-medium: 73px;


.menu-max-height {
  height: calc(100vh - 6 * #{$slip-height-small - 1});

  @include media($bq-medium) {
    height: calc(100vh - 6 * #{$slip-height-medium - 1});
  }

  .wo-search & {
    height: 100vh !important;
  }

  .headerPrimarySearchClosed & {
    height: calc(100vh - 1 * #{$slip-height-small - 1});

    @include media($bq-medium) {
      height: calc(100vh - 1 * #{$slip-height-medium - 1});
    }
  }
}


.header-primary {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: $white;

  transition:
    left $base-duration $base-timing,
    width $base-duration $base-timing;

  [view].headerPrimaryIn &,
  [view].headerPrimaryOpen & {
    left: 0;
  }

  @include media($bq-huge/2) {
    left: -50%;
    width: 50%;
  }
}



.menu-primary li {
  border-bottom: 1px solid $whiff-of-gray;

  > a,
  > span {
    display: block;
    background-color: $is-this-even-gray;
    color: $light-gray;
    transition: all $base-duration $base-timing;
    cursor: pointer;

    @include sidebar-slip-pad;
  }

  &:hover {
    > a,
    > span {
      background-color: $whiff-of-gray;
    }
  }
}



.action-menu-primary {
  //right: -116px;
  width: 150%;

  span {
    margin-top: 2px;
    margin-right: 16px;
  }

  a {
    margin-top: -12px;
    margin-right: 16px;
  }

  a {
    padding: 0;
    span {
      margin: 0;
    }
  }

  .icon-pusher {
    float: left;
    width: 66.66666%;
    min-height: 1px;
  }

  .icon-wrapper {
    float: left;
    width: 33.33333%;
    padding-left: 24px;
  }

  #icon-new-mail {
    display: inline-block;
    margin-left: -23px;
    font-size: $f-small + 0.05;
    color: $base-color-light;
  }
}
