// @Jerome
// from _forms.scss
// $slip-height-small: 57px;
// $slip-height-medium: 73px;


.menu-max-height {
  height: calc(100vh - 6 * #{$slip-height-small - 1});

  @include media($bq-medium) {
    height: calc(100vh - 6 * #{$slip-height-medium - 1});
  }

  .headerPrimarySearchClosed & {
    height: calc(100vh - 1 * #{$slip-height-small - 1});

    @include media($bq-medium) {
      height: calc(100vh - 1 * #{$slip-height-medium - 1});
    }
  }
}


.header-primary {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: $white;

  transition:
    left $base-duration $base-timing,
    width $base-duration $base-timing;

  [view].headerPrimaryIn &,
  [view].headerPrimaryOpen & {
    left: 0;
  }

  @include media($bq-huge/2) {
    left: -50%;
    width: 50%;
  }
}



.menu-primary li {
  border-bottom: 1px solid $whiff-of-gray;

  > a {
    display: block;
    background-color: $is-this-even-gray;
    color: $light-gray;
    transition: all $base-duration $base-timing;

    @include sidebar-slip-pad;
  }

  &:hover {
    > a {
      background-color: $whiff-of-gray;
    }
  }
}



.action-menu-primary {
  right: -116px;

  span {
    margin-top: 2px;
    margin-right: 16px;
  }

  .wo-search & {
    right: -64px;
  }
}
