.page-max-height {
  height: calc(100vh - 1 * #{$slip-height-small - 1});

  @include media($bq-medium) {
    height: calc(100vh - 1 * #{$slip-height-medium - 1});
  }
}

.page-half-height {
  height: 50vh;
}

.page-half-plus-1-height {
  height: calc(50vh + 1 * #{$slip-height-small - 1});

  @include media($bq-medium) {
    height: calc(50vh + 1 * #{$slip-height-medium - 1});
  }
}

.page-half-minus-1-height {
  height: calc(50vh - 1 * #{$slip-height-small - 1});

  @include media($bq-medium) {
    height: calc(50vh - 1 * #{$slip-height-medium - 1});
  }
}

.page-half-minus-2-height {
  height: calc(50vh - 2 * #{$slip-height-small - 1});

  @include media($bq-medium) {
    height: calc(50vh - 2 * #{$slip-height-medium - 1});
  }
}

.brand-primary {
  position: relative;
  z-index: 1;
  height: 45vh;

  > h1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;

    text-align: center;
    line-height: 1;
    font-size: $f-astro;
    color: $white;
    text-shadow: 0 0 64px $white;
  }
}


.validationErrorText {
  display: block;
  color: $base-color-opposite;

  @include sidebar-slip-pad;

  &:before {
    content: '⇧ ';
  }

  a {
    display: inline;
    vertical-align: baseline;
    background-color: transparent;
    color: inherit;
    padding: 0;

    &:hover,
    &:active,
    &:visited,
    &:link {
      background-color: transparent;
      color: inherit;
    }
  }
}


img {
  .span-half &.only-child {
    padding-right: 16px;
  }
}

.hide {
  display: none;
  visibility: hidden;
}

.pad {
  @include sidebar-slip-pad;
}

.gllpMap	{ width: 500px; height: 250px; }


#map {
  &.js-show {
    height: 500px;
  }
}


.messageDetail {
  border-top: 1px solid $whiff-of-gray;
}

#messageDetail {
  h3 {
    padding-top: 16px;
  }
  ul {
    padding-bottom: 16px;
  }
  p {
    padding-bottom: 32px;
  }
}


#messageList {
  tr {
    cursor: pointer;
  }

  .fa {
    display: inline-block;
    margin-right: 8px;
  }

  .UNREAD {
    .fa {
      color: $base-color;
    }
  }

  .READ {
    color: $bright-gray;

    .fa {
      display: none;
    }
  }
}
