.brand-primary {
  position: relative;
  z-index: 1;
  height: 45vh;

  > h1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;

    text-align: center;
    line-height: 1;
    font-size: $f-astro;
    color: $white;
    text-shadow: 0 0 64px $white;
  }
}
