.page-max-height {
  // height: calc(100vh - 1 * #{$slip-height-small - 1});
  //
  // @include media($bq-medium) {
  //   height: calc(100vh - 1 * #{$slip-height-medium - 1});
  // }

  height: auto;

  @include media($bq-large) {
    height: calc(100vh - 1 * #{$slip-height-medium - 1});
  }
}

.page-half-height {
  height: 50vh;
}

.page-half-plus-1-height {
  height: calc(50vh + 1 * #{$slip-height-small - 1});

  @include media($bq-medium) {
    height: calc(50vh + 1 * #{$slip-height-medium - 1});
  }
}

.page-half-minus-1-height {
  height: calc(50vh - 1 * #{$slip-height-small - 1});

  @include media($bq-medium) {
    height: calc(50vh - 1 * #{$slip-height-medium - 1});
  }
}

.page-half-minus-2-height {
  height: calc(50vh - 2 * #{$slip-height-small - 1});

  @include media($bq-medium) {
    height: calc(50vh - 2 * #{$slip-height-medium - 1});
  }
}

.brand-primary {
  position: relative;
  z-index: 1;
  height: 45vh;

  > h1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;

    text-align: center;
    line-height: 1;
    font-size: $f-astro;
    color: $white;
    text-shadow: 0 0 64px $white;
  }
}

img {
  .span-half &.only-child {
    padding-right: 16px;
  }
}

.hide {
  display: none;
  visibility: hidden;
}

.pad {
  @include sidebar-slip-pad;
}


.messageDetail {
  border-top: 1px solid $whiff-of-gray;
}

#messageDetail {
  h3 {
    padding-top: 16px;
  }
  ul {
    padding-bottom: 16px;
  }
  p {
    padding-bottom: 32px;
  }
}


#messageList {
  tr {
    cursor: pointer;
  }

  .fa {
    display: inline-block;
    margin-right: 8px;
  }

  .UNREAD {
    .fa {
      color: $base-color;
    }
  }

  .READ {
    color: $bright-gray;

    .fa {
      display: none;
    }
  }
}

.validator {
  max-height: 0;
  overflow: hidden;
  transition: max-height (2 * $base-duration) $base-timing;

  &.js-show {
    max-height: 2 * $slip-height-small;

    @include media($bq-medium) {
      max-height: 2 * $slip-height-medium;
    }
  }
}

.validationErrorText {
  display: block;
  margin: 0;
  font-weight: 400;
  color: $base-color-opposite;
  transition: padding $base-duration $base-timing;

  @include sidebar-slip-pad;

  &:before {
    content: '⇧ ';
  }

  a {
    display: inline;
    vertical-align: baseline;
    background-color: transparent;
    color: inherit;
    padding: 0;

    &:hover,
    &:active,
    &:visited,
    &:link {
      background-color: transparent;
      color: inherit;
    }
  }
}


.section-title {
  @include sidebar-slip-pad;
  margin-bottom: 0;
  padding-left: 8px !important;
  transition: padding $base-duration $base-timing;

  @include media($bq-medium) {
    padding-left: 16px !important;
  }

  @include media($bq-large) {
    padding-left: 0 !important;
  }
}
