@mixin sidebar-slip-pad {
  @include pad($medium $small);

  @include media($bq-medium) {
    @include pad(($large - $small) $medium);
  }

  @include media($bq-large) {
    @include pad(($large - $small) $large);
  }

  @include media($bq-huge) {
    @include pad(($large - $small) $huge);
  }
}


@mixin sidebar-slip-pad-half {
  @include pad(($medium / 2) $small);

  @include media($bq-medium) {
    @include pad((($large - $small) / 2) $medium);
  }

  @include media($bq-large) {
    @include pad((($large - $small) / 2) $large);
  }

  @include media($bq-huge) {
    @include pad((($large - $small) / 2) $huge);
  }
}



@mixin sidebar-icon-pad {
  @include pad(($medium - 3px) 0);

  @include media($bq-medium) {
    @include pad(($large - $small - 7px) 0);
  }
}



@mixin sidebar-button-pad {
  @include pad($medium $small);

  @include media($bq-medium) {
    @include pad(($large - $small) $medium);
  }
}



@mixin sidebar-button-pad-reduc {
  @include pad(($medium - 1) $small);

  @include media($bq-medium) {
    @include pad(($large - $small - 1) $medium);
  }
}
