.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: $white;

  transition:
    right $base-duration $base-timing,
    width $base-duration $base-timing;

  [view].sidebarIn &,
  [view].sidebarOpen & {
    right: 0;
  }

  @include media($bq-huge/2) {
    right: -50%;
    width: 50%;
  }

  .container-scroll {
    // 150px = 74px (buttons) + 74px (title) + 2px (buffer)
    height: calc(100% - 150px);

    .sidebarMessageOpen & {
      // 442px = 292px + 150px
      // form-message = 292px when open
      height: calc(100% - 442px);
    }
  }

  h2 {
    @include sidebar-slip-pad;

    &:first-of-type {
      margin-bottom: 0;
    }
  }

  h3, p, td {
    @include sidebar-slip-pad-half;
  }

  p {
    padding-top: 0;
  }

  h3 {
    padding-bottom: $atom;

    &.row-h3 {
      padding-bottom: $atom + 6;
    }
  }
}



.action-sidebar {
  left: -64px;

  span {
    margin-left: 16px;
  }
}




// .menu-primary li {
//   border-bottom: 1px solid $whiff-of-gray;
//
//   > a {
//     display: block;
//     background-color: $is-this-even-gray;
//     color: $light-gray;
//     transition: all $base-duration $base-timing;
//
//     @include sidebar-slip-pad;
//   }
//
//   &:hover {
//     > a {
//       background-color: $whiff-of-gray;
//     }
//   }
// }
