body {
  color: $light-gray;
}

h2, h3, h5 {
  font-weight: 300;
  color: $light-gray;
}

h5, h6 {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

p {
  font-weight: 200;
}

.base-color {
  color: $base-color;
}

.base-color-opposite {
  color: $base-color-opposite;
}

.action-inactive-color {
  color: $action-inactive-color;
}
