// Dependencies
@import
  // @Jerome
  // NB: Uncomment this dependency if something's oddly styled and place
  // hooked style(s) into _slider_blender.scss. Then comment out again.
  //"../../components/flexslider/flexslider.css",

  // @Jerome
  // NB: Added variables to"_bourbon_font-stack-FIX" to work with Bitters,
  // which seems to rely on Bourbon 5.0.0.beta.6.
  // This is the error that occurs when transpiling without the mentioned FIX:
  // ----------
  // Error: Undefined variable: "$font-stack-system".
  // ...
  // ----------
  // Variables are differently declared in addons/_font-stacks.scss of the
  // Bourbon 4.2.7 version.
  // Issue: https://github.com/thoughtbot/bitters/issues/234 (closed [?])
  //
  // TODO: Remove when issue is gone.
  "_bourbon_font-stack-FIX",

  // Tools / Sets
  "../../components/bourbon/app/assets/stylesheets/bourbon",
  "../../components/neat/app/assets/stylesheets/neat",
  "../../components/bitters/core/base",
  "../../components/font-awesome/scss/font-awesome";
  

// @Jerome
// TODO: Borrow the following from jquery ui:
//   - Datepicker, n/a in Bourbon, as far as i know
//   - Form field auto-completion (used for zip codes)
//
// NB: There might be more to borrow.

@import 'mixins';
@import 'reset';
@import 'vars';
@import 'base';
@import 'grid';

@import 'text';
@import 'actions';
@import 'forms'; // @Jerome: has to be before lists and top-bar for now
@import 'tables';
@import 'lists';

@import 'header';
@import 'top_bar';
@import 'sidebar';
@import 'main';
@import 'footer';

@import 'slider_blender';
